
@{
    ViewBag.Title = "Chi tiết khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/__AdminLayout.cshtml";
}

@section js{
    <script>
        $(document).ready(function () {
            var table = $("#listView").DataTable({
                columnDefs: [
                    { orderable: false, sortable: false, targets: 0 }
                ],
                responsive: true,
                autoWidth: false,
                lengthMenu: [5, 10, 20, 50],
                order: [[1, 'asc']],
            });

            table.on('order.dt search.dt', function () {
                table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });
    </script>
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title" style="margin-top: 9px;">
            Danh sách đơn đặt phòng của <span style="font-weight: bold">@ViewData["CustomerName"]</span>
        </h3>
    </div>
    <!-- /.card-header -->
    <div id="dataTable" class="card-body">
        <table id="listView" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Mã đơn đặt phòng</th>
                    <th>Tên phòng</th>
                    <th>Ngày nhận phòng</th>
                    <th>Ngày trả phòng</th>
                    <th>Số tiền</th>
                    <th>Trạng thái</th>
                </tr>
            </thead>
            <tbody class="text-center">

                @for(int i=0; i<25; i++)
            {
                <tr>
                    <td>@i</td>
                    <td>HCM @i</td>
                    <td>Phòng ABCDEF @i</td>
                    <td>25/06/2021</td>
                    <td>15/07/2021</td>
                    <td>3.200.000 đ</td>
                    <td>Đã xác nhận</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>