@model IEnumerable<LuxStay.Areas.Admin.Data.CategoryModel>
<div class="col-md-6">
    <div class="form-group">
        <label for="">Loại Phòng</label>
        <select class="form-control select2 select2-blue" data-dropdown-css-class="select2-danger"
                style="width: 100%;" name="categoryID">
            @foreach (var item in Model)
            {
                <option value="@item.id">@item.categoryName</option>
            }
        </select>
    </div>
</div>
