
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/__AdminLayout.cshtml";
}

@section js{
    <script src="~/Assets/Admin/dist/js/chart-stat.js"></script>
}

<div class="card">
    <div class="card-header">Doanh thu (10 tháng gần đây)</div>
    <div class="card-body">
        <canvas id="lineChart" style="min-height: 250px; max-height: 400px; max-width: 100%; display: block;"></canvas>
    </div>
</div>