
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/__AdminLayout.cshtml";
}
@using Models.Entity
@model List<Utility>

@section js{
    <script>
        $(document).ready(function () {
            var table = $("#listView").DataTable({
                columnDefs: [
                    { orderable: false, sortable: false, targets: 0 },
                    { visible: false, targets: 2 }
                ],
                columns: [
                    { "data": "id" },
                    { "data": "name" },
                    { "data": "parentid" },
                    { "data": "parentname" },
                    { "data": "icon" },
                    { "data": "status" },
                    {
                        "data": "id",
                        "render": function (data, type, row, meta) {
                            return '<div class="align-middle">' +
                                '<button class="btn btn-success m-1 edit-btn" data-id="' + data + '" data-toggle="modal" data-target="#formEditModal">' +
                                '<i class="fas fa-eye"></i>' +
                                '</button>' +
                                '<button class="btn btn-danger delete-btn" data-id="' + data + '">' +
                                '<i class="fas fa-trash-alt"></i>' +
                                '</button>' +
                                '</div>';
                        }
                    }
                ],
                responsive: true,
                autoWidth: false,
                lengthMenu: [5, 10, 20, 50],
                order: [[1, 'asc']],
                ajax: {
                    url: "/Admin/Service/LoadData",
                    method: "post",
                    dataSrc: ""
                }
            });

            table.on('order.dt search.dt', function () {
                table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });
    </script>
    <script src="~/Assets/Admin/dist/js/ajax/utility.js"></script>
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title" style="margin-top: 9px;">
            Danh sách dịch vụ
        </h3>
        <div style="float: right;">
            <button class="btn btn-primary" id="btn-refresh">
                <i class="fas fa-sync-alt"></i>
            </button>
            <button class="btn btn-success" data-toggle="modal" data-target="#formModal">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    <!-- /.card-header -->
    <div id="dataTable" class="card-body">
        <table id="listView" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tên dịch vụ</th>
                    <th>Id cha</th>
                    <th>Tên dịch vụ cha</th>
                    <th>Biểu tượng</th>
                    <th>Trạng thái</th>
                    <th>Tác vụ</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <!-- Use AJAX to update table -->
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>

<!-- Add Modal Form-->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Thêm dịch vụ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="addUtility" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Tên dịch vụ</label>
                        <input type="text" class="form-control" id="name" value="" required />
                    </div>
                    <div class="form-group">
                        <label for="parentName">Tên dịch vụ cha</label>
                        <select class="form-control" id="parentName" required>
                            <option value="">(chọn)</option>
                            <option value="0">(Gốc)</option>
                            @foreach (var item in Model)
                            {
                                <option value="@item.UtilityID">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="status">Trạng thái</label>
                        <select class="form-control" id="status" required>
                            <option value="1">Hiển thị</option>
                            <option value="0">Ẩn</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary btn-reset" hidden>Reset Form</button>
                    <button type="button" class="btn btn-secondary btn-dismiss" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Modal Form-->
<div class="modal fade" id="formEditModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Thông tin dịch vụ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="editUtility" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Mã dịch vụ</label>
                        <input type="text" class="form-control" id="editId" value="" required disabled />
                    </div>
                    <div class="form-group">
                        <label for="name">Tên dịch vụ</label>
                        <input type="text" class="form-control" id="editName" value="" required />
                    </div>
                    <div class="form-group">
                        <label for="parentName">Tên dịch vụ cha</label>
                        <select class="form-control" id="editParentName" required>
                            <option value="">(chọn)</option>
                            <option value="0">(Gốc)</option>
                            @foreach (var item in Model)
                            {
                                <option value="@item.UtilityID">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="status">Trạng thái</label>
                        <select class="form-control" id="editStatus" required>
                            <option value="1">Hiển thị</option>
                            <option value="0">Ẩn</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary btn-reset" hidden>Reset Form</button>
                    <button type="button" class="btn btn-secondary btn-dismiss" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>