
@{
    ViewBag.Title = "Danh sách bài viết";
    Layout = "~/Areas/Admin/Views/Shared/__AdminLayout.cshtml";
}
@section js{
    <script>
        $(document).ready(function () {
            var table = $("#listView").DataTable({
                ordering: false,
                columnDefs: [
                    { orderable: false, sortable: false, targets: 0 }
                ],
                //columns: [
                //    { "data": "id" },
                //    { "data": "fullname" },
                //    { "data": "address" },
                //    { "data": "email" },
                //    { "data": "phone" },
                //    { "data": "gender" },
                //    {
                //        "data": "id",
                //        "render": function (data, type, row, meta) {
                //            return '<div class="align-middle">' +
                //                '<button class="btn btn-success m-1 edit-btn" data-id="' + data + '" data-toggle="modal" data-target="#formEditModal">' +
                //                '<i class="fas fa-eye"></i>' +
                //                '</button>' +
                //                '<button class="btn btn-danger delete-btn" data-id="' + data + '">' +
                //                '<i class="fas fa-trash-alt"></i>' +
                //                '</button>' +
                //                '</div>';
                //        }
                //    }
                //],
                responsive: true,
                autoWidth: false,
                lengthMenu: [5, 10, 20, 50],
                order: [[1, 'asc']],
                //ajax: {
                //    url: "/Admin/Customer/LoadData",
                //    method: "post",
                //    dataSrc: ""
                //}
            });

            table.on('order.dt search.dt', function () {
                table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });
    </script>
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title" style="margin-top: 9px;">
            Danh sách bài viết
        </h3>
        <div style="float: right;">
            <button class="btn btn-primary" id="btn-refresh">
                <i class="fas fa-sync-alt"></i>
            </button>
            <button class="btn btn-success" data-toggle="modal" data-target="#formModal">
                <i class="fas fa-plus"></i>
            </button>
        </div>
        <!-- Add Modal -->
        <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="formModal">Thêm bài viết</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Nav Tab-->
                        <div class="card card-primary card-outline card-outline-tabs">
                            <div class="card-header p-0 border-bottom-0">
                                <ul class="nav nav-tabs" id="tabs-list" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="infomation-tab" data-toggle="pill" href="#infomation" role="tab" aria-controls="infomation" aria-selected="true">Thông tin bài viết</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="content-tab" data-toggle="pill" href="#content" role="tab" aria-controls="content" aria-selected="false">Nội dung bài viết</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content" id="tab-content">
                                    <div class="tab-pane fade show active" id="infomation" role="tabpanel" aria-labelledby="infomation-tab">
                                        <form id="addPost" method="post">
                                            <!-- Infomation Form-->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="postTitle">Tên bài viết</label>
                                                        <input type="text" class="form-control" id="postTitle" name="postTitle" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="postDesc">Mô tả bài viết</label>
                                                        <input type="text" class="form-control" id="postDesc" name="postDesc" required>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="postStatus">Trạng thái</label>
                                                        <select id="postStatus" class="form-control">
                                                            <option value="1">Hiển thị</option>
                                                            <option value="0">Ẩn</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 align-bottom">
                                                    <div class="form-group">
                                                        <label for="postAvatar">Hình đại diện</label>
                                                        <input type="text" class="form-control" id="postAvatar" name="postAvatar" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                                <button type="submit" class="btn btn-primary">Lưu</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="content" role="tabpanel" aria-labelledby="content-tab">
                                        <textarea id="summernote">
                
                                        </textarea>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                            <button type="button" class="btn btn-primary">Lưu</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Nav Tab-->
                    </div>

                </div>
            </div>
        </div>
        <!-- End Add Modal -->
    </div>
    <!-- /.card-header -->
    <div id="dataTable" class="card-body">
        <table id="listView" class="table table-bordered table-striped text-center">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ảnh đại diện</th>
                    <th>Tên bài viết</th>
                    <th>Mô tả</th>
                    <th>Trạng thái</th>
                    <th>Tác vụ</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <!-- Edit Modal -->
        <div class="modal fade" id="formEditModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#customerInfo" data-toggle="tab">Thông tin khách hàng</a></li>
                            <li class="nav-item"><a class="nav-link" id="btn-orderList" href="#orderList" data-toggle="tab">Danh sách đơn đặt phòng</a></li>
                        </ul>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="tab-content">
                        <div class="active tab-pane" id="customerInfo">
                            <form id="editUser" method="post" action="">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="inputEditID">Mã khách hàng</label>
                                            <input type="text" class="form-control" name="inputEditID" id="inputEditID" required disabled>
                                            <div class="invalid-feedback">Không Được Để Trống Trường Này</div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputEditFullName">Họ tên</label>
                                            <input type="text" class="form-control" name="inputEditFullName" id="inputEditFullName" required>
                                            <div class="invalid-feedback">Không Được Để Trống Trường Này</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="inputEditEmail">Email</label>
                                            <input type="email" class="form-control" name="inputEditEmail" id="inputEditEmail" required>
                                            <div class="invalid-feedback">Email để trống hoặc không đúng định dạng</div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputEditPhone">Phone</label>
                                            <input type="tel" class="form-control" name="inputEditPhone" id="inputEditPhone" required>
                                            <div class="invalid-feedback">Không Được Để Trống Trường Này</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="inputEditGender">Giới tính</label>
                                            <select class="form-control" name="inputEditGender" id="inputEditGender" required>
                                                <option value="">(chọn)</option>
                                                <option value="1">Nam</option>
                                                <option value="0">Nữ</option>
                                            </select>
                                            <div class="invalid-feedback">Vui lòng chọn giới tính</div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputEditAddress">Địa chỉ</label>
                                            <input type="text" class="form-control" name="inputEditAddress" id="inputEditAddress" required>
                                            <div class="invalid-feedback">Không Được Để Trống Trường Này</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="reset" hidden id="btn-edit-reset" class="btn btn-secondary">Reset</button>
                                    <button type="button" id="btn-edit-dismiss" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                    <button type="submit" class="btn btn-success">Cập nhật</button>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="orderList">
                            <div class="modal-body">
                                <div id="dataTable2">
                                    <h3 style="font-size: 22px">Danh sách đơn đặt phòng của <span style="font-weight: bold">Insert Name Here</span></h3>
                                    <table id="listView2" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Mã đơn đặt phòng</th>
                                                <th>Tên phòng</th>
                                                <th>Ngày nhận phòng</th>
                                                <th>Ngày trả phòng</th>
                                                <th>Số tiền</th>
                                                <th>Trạng thái</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-center">

                                            @for (int i = 0; i < 25; i++)
                                            {
                                                <tr>
                                                    <td>@i</td>
                                                    <td>HCM @i</td>
                                                    <td>Phòng ABCDEF @i</td>
                                                    <td>25/06/2021</td>
                                                    <td>15/07/2021</td>
                                                    <td>3.200.000 đ</td>
                                                    <td>Đã xác nhận</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btn-edit-dismiss" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Edit Modal -->
    </div>
    <!-- /.card-body -->
</div>